<div class="blog-post">
        <h3>{{name}}<small></small></h3>
        
        {{!-- <img class="thumbnail" src="https://placehold.it/850x350"> --}}
        <p>{{content}}</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: {{user.name}}</a></li>
            {{!-- <li><a href="#">Comments: {{user.content}}</a></li> --}}
         
          </ul>
        </div>
</div>