{{!-- <!DOCTYPE html>
<html>
<head>
  <title> Public Interest Press </title>
</head>
<body>
  <header>
    <h1>Opensource news you can investigate and learn to trust!</h1>
  </header>
   --}}
  <main>
    <div class="row">
      {{#each articles as |article| }}
      <div class="medium-8 large-7 columns">
        <a href="/article/{{article.id}}">{{article.name}}</a>
      </div>
      {{/each}}
    </div>
  </main>
  
  {{!-- <footer>
    <p>&copy; 2023 Joey Meghan Uriah Kameron</p> 
  </footer>
</body>
</html> --}}










{{!-- 
      <div class="blog-post">
        <h3><a href="/project/{{article.id}}">{{article.name}}</a><small></small></h3>
        
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>

      <div class="blog-post">
        <h3> <small></small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>

      <div class="blog-post">
        <h3> <small></small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>

      <div class="blog-post">
        <h3> <small></small></h3>
        <img class="thumbnail" src="https://placehold.it/850x350">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
          </ul>
        </div>
      </div>
    </div> --}}


