  <main>
    <div class="row">
      {{#each articles as |article| }}
      <div class="medium-8 large-7 columns">
        <a href="/article/{{article.id}}">{{article.title}}</a>
      </div>
      {{/each}}
    </div>
  </main>
  
