<div class="row">
      {{#each articles as |article| }}
      <div class="medium-8 large-7 columns">
        <a href="/article/{{article.id}}">{{article.title}}</a>
        <p>{{content}}</p>
      </div>
      {{/each}}
  </div>
  
