{{#if logged_in}}
<div class="card-container position-absolute top-100 left-100 w-10 h-10">
  <button class="button" data-open="myModal1">Create Post</button>
  <button class
<button class="button" data-open="myModal1">Create Post</button>
<div class="reveal" id="myModal1" data-reveal>
  <h1> Your New Post</h1>
  <label>
  Enter here:
  <textarea placeholder="None"></textarea>
</label>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{{/if}}
<div class="row">
  {{#each articles as |article|}}
    <div class="medium-8 large-7 columns">
      <a href="/article/{{article.id}}">{{article.title}}</a>
      <p>{{content}}</p>
    </div>
  {{/each}}
</div>


  <script src="/public/js/postBtn.js"></script>