<h1> Your New Post</h1>
  <form id="new-tip-form">
    <input type="hidden" id="user_id" value="<%= user_id %>">
  <div class="grid-x grid-padding-x">
    {{!-- <div class="small-3 cell">
      <label for="title" class="text-right middle"></label>
    </div> --}}
    <div class="small-9 cell">
      <input type="form-input" id="title" placeholder="Title" required>
    </div>
  </div>

  <label>
  Enter here:
  <textarea type="form-input" id="content" placeholder="None" required></textarea>
  <label for="fileUpload" class="button">Upload File</label>
  <input type="file" id="fileUpload" class="show-for-sr">
  </label>

  <button id="submit" class="submit success button">Submit</button>
</form>

  <script src="/js/postBtn.js"></script>
  <script src="/js/newTips.js"></script>