<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <title>Your Profile</title>
</head>
<body>  



    {{!-- <div class="top-bar">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Public Intrest Press</li>
            <li><a href="/views/layouts/main.handlebars">Home</a></li>           
            <li><a href="/views/tips.handlebars">Tips</a></li>
          </ul>
        </div>
      </div>
    <div class="card-box">
    <div class="card">
        <img class="card-img" src="https://placehold.it/350x300" alt="header" />
        <div class="card-info">
        <h1 class="card-title">Card Title</h1>
        <div class="card-icon">6</div>
        <p class="card-author">Author Name</p>
        <p class="card-stats">6 <img src="https://placehold.it/20" alt="hi" /> 6 <img src="https://placehold.it/20" alt="hi" /></p>
        </div>
      </div>
    </div> --}}



{{!-- </body>
</html>


  