{{#if logged_in}}
{{!-- <div class="post-btn">
  <button class="btn">Create Post</button>
  
</div> --}}
{{!-- <button class="button" data-open="myModal1">Create Post</button> --}}
<a href="/newtip" class="button">Create Post</a>


{{/if}}

<div class="row">
  {{#each tips as |tips|}}
    <div class="medium-8 large-7 columns">
      <a href="/tips/{{tips.id}}">{{tips.title}}</a>
      <p>{{content}}</p>
    </div>
  {{/each}}
</div>


