  <main>
    <div class="row">
      {{#each tips as |tips| }}
      <div class="medium-8 large-7 columns">
        <a href="/tips/{{tips.id}}">{{tips.title}}</a>
        <p>{{content}}</p>
      </div>
      {{/each}}
    </div>
  </main>